/* Cart button  */
.cart-button {
  display: flex;

  width: 100%;
  height: 76px;
  margin-left: auto;
  padding-left: 10%;

  color: white;
  background-color: #00aeff;

  align-items: center;
}

.cart-button:hover {
  text-decoration: none;

  color: white;
}

.cart-button_image {
  padding-right: 17px;
  padding-left: 9px;
}

@media (min-width: 992px) {
  .cart-button {
    flex-direction: column;

    width: 135.33px;
    padding: 0;

    align-items: center;
  }

  .cart-button_image {
    padding: 11px 0 0;
  }
}

@media (min-width: 1200px) {
  .cart-button {
    flex-direction: row;

    width: 160px;

    align-items: center;
  }
  .cart-button_image {
    padding-top: 0;
    padding-right: 17px;
    padding-left: 9px;
  }
}
/* END Cart button  */
