/* Categorys preview */
.categorys-preview {
  padding-top: 49px;
}

.categorys-preview_card {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;

  padding: 0 30px;

  text-align: center;
}

.categorys-preview_card-header {
  font-size: 30px;
  font-weight: 400;

  text-align: center;

  color: #626262;
}

.categorys-preview_card-image {
  display: block;

  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 26px;
}

.categorys-preview_read-more-link {
  font-weight: 700;

  display: block;

  margin-top: 18px;

  text-align: center;

  color: #00aeff;
}
/* END Categorys preview */
