/* Dropdown menu */
.dropdown-menu {
  top: 107px;
  left: 15px;

  padding: 10px 0;

  border: none;
  border-radius: 0;
  background-color: #e2e7ed;
}

.dropdown-item {
  font-family: 'Play', sans-serif;
  font-size: 14px;

  padding: 5px 10%;
}

.dropdown-item:hover {
  background-color: #00aeff;
}

@media (min-width: 992px) {
  .dropdown-menu::before {
    position: absolute;
    top: -15px;
    left: 14px;

    width: 0;
    height: 0;

    content: '';

    border-width: 0 12px 15px 12px;
    border-style: solid;
    border-color: transparent transparent  #e2e7ed transparent;
  }

  .dropdown-item {
    padding: 2px 15px;
  }
}
/* Dropdown menu */
