.footer {
  padding-top: 22px;
  padding-bottom: 20px;

  background-color: #31333e;
}

.footer_call-to-us {
  font-size: 16px;

  margin: 0;
  padding: 30px 0 0;

  list-style: none;

  color: #fff;
}

.footer_phone-list-item {
  margin-top: -5px;
}

.footer_phone-list-item > a {
  font-size: 16px;
  line-height: 18px;

  color: #fff;
}

.footer_back-call-button {
  font-size: 16px;

  margin-top: 3px;
  padding: 0;

  color: #fff;
  border: none;
  background-color: transparent;
}

.footer_back-call-text {
  padding-left: 18px;
  text-decoration: underline;
}
