.footer-menu {
  padding: 30px 0 0;
}

.footer-menu_list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;

  border: none;
}

.footer-menu_item {
  display: inline-block;

  box-sizing: border-box;
  width: 49.3%;
  margin-top: -7px;
  padding-right: 5%;
  padding-left: 5%;

  border: 0;
}

.footer-menu_link {
  font-size: 14px;

  display: block;

  width: 100%;
  padding: 0 0;
  padding-left: 10%;

  text-transform: uppercase;

  color: #fff;
}

.footer-menu_divider {
  font-size: 0;
  display: none;

  content: 'a';
}

@media (min-width: 992px) {
  .footer-menu_list {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }

  .footer-menu_item {
    padding: 0;
    width: auto;
  }

  .footer-menu_divider {
    font-size: 16px;

    display: list-item;

    width: 1px;
    height: 11px;
    /* border-left: 1px solid white; */

    background-color: #fff;
  }

  .footer-menu_link {
    padding: 0;
  }
}
