/* Main menu */
.main-menu_list {
  margin-top: 20px;
}

.nav-item > .main-menu_link {
  display: block;

  padding-left: 10%;

  text-decoration: none;
  text-transform: uppercase;

  color: #626262;
}

.main-menu_link:hover {
  color: #00aeff;
}

.active > .main-menu_link {
  color: #fff;
  background-color: #00aeff;
}

.main-menu_togler {
  margin-top: 15px;
  margin-right: 15px;
  padding: 10px;

  border-radius: 0;
  background-color: #00aeff;
}


.main-menu_togler-icon {
  background-image: url(../../images/boorger.svg);
}

@media (min-width: 992px) {
  .navbar-nav > .nav-item > .main-menu_link {
    font-size: 12px;
    font-weight: 700;

    height: 76px;
    padding: 38px 15px 20px;
  }

  .main-menu_list {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-nav > .nav-item > .main-menu_link {
    font-size: 15px;
    font-weight: 700;

    height: 76px;
    padding: 38px 18px 20px;
  }
}
/* END Main menu */
