/* Navbar brand */
.navbar-brand {
  display: block;

  width: inherit;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;

  color: #31333e;
  background-color: transparent;
}

.navbar-brand::after {
  display: table;
  clear: both;

  content: '';
}

.navbar-brand_logo {
  float: left;

  padding-top: 29px;
}

.navbar-brand_name {
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;

  display: inline-block;

  padding: 37px 0 0 12px;

  letter-spacing: -2.1px;
  text-transform: uppercase;
}

.navbar-brand_name__white {
  color: #fff;
}

.navbar-brand__footer > .navbar-brand_logo {
  padding: 0;
}

.navbar-brand__footer > .navbar-brand_name {
  padding-top: 6px;
}
/* END Navbar brand */
