/* Product card */
.product-card {
  padding-top: 30px;
}

.product-card_stars {
  color: #feb300;
}

/* Sale sticker */
.product-card_frame__sale {
  text-align: right;
  font-size: 24px;

  position: absolute;
  top: 0;
  right: 0;

  width: 106px;
  padding-right: 29px;

  color: #fff;
  background-color: #f24841;
}

.product-card_frame__sale::before {
  position: absolute;
  left: -16px;

  width: 0;
  height: 0;

  content: '';

  border-width: 0 16px 36px 0;
  border-style: solid;
  border-color: transparent #f24641 transparent transparent;
}
/* END Sale sticker */

/* New sticker */
.product-card_frame__new {
  font-size: 24px;

  position: absolute;
  top: 0;
  right: 0;

  width: 106px;
  padding-right: 6px;

  color: #fff;
  background-color: #00b7f4;
}

.product-card_frame__new::before {
  position: absolute;
  left: -16px;

  width: 0;
  height: 0;

  content: '';

  border-width: 0 16px 36px 0;
  border-style: solid;
  border-color: transparent #00b7f4 transparent transparent;
}
/* END New sticker */

.product-card_frame {
  position: relative;

  display: block;

  box-sizing: border-box;
  padding: 24px;

  border: 1px solid #ccc;
}

.product-card_frame:hover {
  text-decoration: none;

  box-shadow: 0 -1px 13px rgba(1, 43, 86, .3);
}

.product-card_frame:hover > .product-card_buy-button {
  background-color: #0095da;
}

.product-card_image {
  width: 100%;
  height: auto;
}

.product-card_name {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  height: 80px;
  padding-top: 40px;
  padding-top: 27px;

  text-align: center;
  text-transform: uppercase;

  color: #000;
}

.product-card_price {
  font-size: 50px;
  font-weight: 400;

  margin-right: -4px;
  padding-top: 20px;

  text-align: right;

  color: #1772d8;
}

.product-card_price__old {
  font-size: 40px;

  padding-right: 15px;

  text-decoration: line-through;

  color: #727272;
}

.product-card_buy-button,
.product-card_read-more-button {
  font-size: 14px;

  width: 120px;

  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 0;
}

.product-card_buy-button {
  position: relative;

  height: 39px;
  padding-left: 48px;

  text-align: left;
  text-transform: uppercase;

  background-color: #00aeff;
}

.product-card_read-more-button {
  display: block;
  float: right;

  height: 39px;
  padding-top: 9px;

  background-color: #9f87c0;
}

.product-card_cart-icon {
  font-size: 24px;

  position: absolute;
  top: 2px;
  left: 15px;
}

@media (min-width: 576px) {
  .product-card_buy-button,
  .product-card_read-more-button {
    width: 146px;
  }
}

@media (min-width: 768px) {
  .product-card_frame {
    padding: 6px 17px 24px;
  }

  .product-card_price {
    font-size: 30px;

    position: relative;
  }

  .product-card_name {
    height: 120px;
  }

  .product-card_price__old {
    font-size: 24px;

    position: absolute;
    top: -2px;
    right: 0;

    display: inline-block;

    padding: 0;
  }

  .product-card_buy-button {
    width: 100%;
    padding: 0;

    text-align: center;
  }

  .product-card_read-more-button {
    float: none;

    width: 100%;
    margin-top: 10px;

    text-align: center;
  }
}

@media (min-width: 992px) {
  .product-card_name {
    height: 80px;
  }

  .product-card_price__old {
    position: initial;

    display: inline;

    padding-right: 15px;
  }


  .product-card_buy-button {
    width: 47%;
    padding-right: 15px;

    text-align: right;
  }
  .product-card_read-more-button {
    float: right;

    width: 47%;
    margin: 0;
  }

  .product-card_cart-icon {
    bottom: 2px;
    left: 20px;
  }
}

@media (min-width: 1200px) {
  .product-card_name {
    text-align: left;
  }

  .product-card_price {
    margin-bottom: 29px;
    padding-top: 21px;;
  }

  .product-card_cart-icon {
    left: 35px;
  }

  .product-card_buy-button {
    padding-right: 35px;
  }
}
/* END Product card */
