/* Search form */
.search-form {
  position: relative;

  display: flex;

  width: 80%;
  margin: 0 10% 18px;
  padding: 0;
}

.search-form_input {
  font-size: 15px;
  font-style: italic;

  width: 100%;
  margin-top: 23px;
  padding: 4px 0 4px 10px;

  border: none;
  outline-style: none;
  background-color: #f1f3f6;
}

.search-form_input::-webkit-input-placeholder {
  color: #a3a3a3;
}

.search-form_input::-moz-placeholder {
  color: #a3a3a3;
}

.search-form_button {
  position: absolute;
  right: 2px;
  bottom: 2px;

  display: block;

  width: 20px;
  height: 24px;

  border: none;
  background-color: transparent;
  background-image: url(../../images/search_icon.svg);
}

@media (min-width: 992px) {
  .search-form {
    width: 135.33px;
    margin: 0 30px;
  }
}

@media (min-width: 1200px) {
  .search-form {
    width: 160px;
    margin: 0 30px;
  }
}
/* END Search form */
