/* Slider */
.slider {
  position: relative;

  width: 100%;
}

.slider_slides-list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  position: relative;

  margin: 0;
  padding: 0;
}

.slide_image {
  width: 100%;
  height: auto;
}

.slide_header {
  font-size: 14px;

  position: absolute;
  top: 10px;

  width: 100%;
  margin-top: 4.3%;
  padding-right: 6%;
  padding-left: 6%;

  color: #fff;
}

.slider_arrow__left {
  left: 15px;

  transform: scale(.4);
}

.slider_arrow__right {
  right: 15px;

  transform: scale(.4) rotate(180deg);
}

.slider_arrow {
  position: absolute;
  top: 46.5%;

  width: 29px;
  height: 50px;
  margin-top: -25px;

  content: '';

  background-image: url(../../images/slider_arrow.svg);
}

.slider_read-more-button {
  font-size: 12px;

  margin-left: 3%;
  padding: 3px 10px;

  color: #535353;
  background-color: #fff;
}


@media (min-width: 576px) {
  .slide_header {
    font-size: 22px;
  }

  .slider_read-more-button {
    font-size: 14px;

    margin-left: 8%;
    padding: 5px 12px;
  }

  .slider_arrow {
    transform: scale(.4);
  }

  .slider_arrow__right {
    transform: scale(.4) rotate(180deg);
  }
}


@media (min-width: 768px) {
  .slide_header {
    font-size: 28px;
  }

  .slider_read-more-button {
    font-size: 20px;

    margin-left: 8%;
    padding: 8px 26px;
  }

  .slider_arrow {
    transform: scale(.6);
  }

  .slider_arrow__right {
    transform: scale(.6) rotate(180deg);
  }
}


@media (min-width: 992px) {
  .slide_header {
    font-size: 36px;
  }

  .slider_read-more-button {
    font-size: 22px;

    margin-left: 8%;
    padding: 10px 38px;
  }

  .slider_arrow {
    transform: scale(.8);
  }

  .slider_arrow__right {
    transform: scale(.8) rotate(180deg);
  }
}


@media (min-width: 1200px) {
  .slide_header {
    font-size: 45px;

    padding-left: 10.2%;
  }

  .slider_read-more-button {
    font-size: 22px;

    margin-left: 4.1%;
    padding: 12px 55px;
  }

  .slider_arrow {
    transform: scale(1);
  }

  .slider_arrow__right {
    transform: scale(1) rotate(180deg);
  }
}
/* END Slider */
