.social {
  padding-top: 17px;

  text-align: left;

  color: #fff;
}

.social_list {
  margin: 0;
  padding-left: 0;
  padding-bottom: 10px;

  list-style: none;
}

.social_list-item {
  display: inline-block;

  margin-top: 10px;
  margin-right: 6px;
}

.social_link {
  font-family: 'fontello';
  font-size: 24px;

  display: block;

  width: 36px;
  height: 36px;

  content: '';
  text-align: center;

  color: #fff;
  border-radius: 3px;
}

.social_link:hover {
  text-decoration: none;
  color: #fff;
}

.social_link__facebook {
  background-color: #3b5998;
}

.social_link__twitter {
  background-color: #00aeff;
}

.social_link__vkontakte {
  background-color: #2766e9;
}

.social_link__googlep {
  background-color: #f24841;
}

@media (min-width: 992px) {
  .social_list {
    padding: 0;
  }
}
