.fontello-icon {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'PT Sans', sans-serif;
}

h2 {
  font-size: 30px;

  text-align: center;
  text-transform: uppercase;

  color: #626262;
}

.browserupgrade {
  margin: .2em 0;
  padding: .2em 0;

  color: #000;
  background: #ccc;
}

.header {
  padding-bottom: 18px;
}

.navbar {
  padding: 0;
}

.clearfix::after {
  content: "";
  clear: both;
}
