@font-face {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/fontello.eot?917022');
  src: url('../fonts/fontello.eot?917022#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?917022') format('woff2'),
  url('../fonts/fontello.woff?917022') format('woff'),
  url('../fonts/fontello.ttf?917022') format('truetype'),
  url('../fonts/fontello.svg?917022#fontello') format('svg');
}
